<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Members.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/users">
          <div class="cell1"><img class="img1" src="/images/flex2.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/users/bookings/new">
          <div class="cell2"><img class="img1" src="/images/flex4.webp" alt="">
            <div class="bottom-right">BOOK</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <% for session in @sessions%>
    <div class="index">
      <br>
      <p style="font-weight:bold;"><%=session.title()%></p>
      <p class="profile-margins"><%=session.description()%></p>
      <p style="color:#fe5ebb;">Instructor: <span style="color:#414141;"><%=session.show_instructor_name()%></span></p>
      <p style="color:#fe5ebb;">Studio: <span style="color:#414141;"><%=session.show_room_name()%></span></p>
      <p style="color:#fe5ebb;">Start Time: <span style="color:#414141;"><%=session.show_start_time()%></span></p>
      <p style="color:#fe5ebb;">End Time: <span style="color:#414141;"><%=session.show_end_time()%></span></p>
      <p style="color:#fe5ebb;">Date: <span style="color:#414141;"><%=session.show_date()%></span></p>
      <a href="/users/bookings/new">
        <button type="button" name="button">BOOK</button>
      </a>
      <br>
    </div>
    <br>
    <%end%>
    <br/>
    <br/>
  </section>
