<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/members">
          <div class="cell2"><img class="img1" src="/images/flex3.webp" alt="">
            <div class="bottom-right">MEMBERS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/members/create">
          <div class="cell3"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <% for member in @members %>
    <div class="index">
      <br>
      <p style="color:#fe5ebb;">Name: <span style="color:#414141;"><%=member.full_name()%></span></p>
      <p style="color:#fe5ebb;">DOB: <span style="color:#414141;"><%=member.formatted_dob()%></span></p>
      <p style="color:#fe5ebb;">Membership Type: <span style="color:#414141;"><%=member.membership_type()%></span></p>
      <p style="color:#fe5ebb;">Membership Number: <span style="color:#414141;"><%=member.id()%></span></p>
      <p style="color:#B200FF;"><%=member.show_active()%></p>
      <a href="/admin/members/<%= member.id() %>/edit">
        <button type="button" name="button">EDIT</button>
      </a>
      <a href="/admin/members/<%= member.id() %>/member_details/show">
        <button type="button" name="button">CONTACT DETAILS</button>
      </a>
      <a href="/admin/bookings/new">
        <button type="button" name="button">BOOK</button>
      </a>
      <br>
    </div>
    <br>
    <%end%>
    <br/>
    <br/>
  </section>
