<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/members">
          <div class="cell2"><img class="img1" src="/images/flex3.webp" alt="">
            <div class="bottom-right">MEMBERS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/members/create">
          <div class="cell3"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="index-table">
      <div class="table-container">
        <div class="flex-row table-flex">
          <div class="flex-cell table-headers">Member</div>
          <div class="flex-cell table-headers">DOB</div>
          <div class="flex-cell table-headers">Type</div>
          <div class="flex-cell table-headers">#</div>
          <div class="flex-cell table-headers">Status</div>
          <div class="flex-cell table-headers">Details</div>
          <div class="flex-cell table-headers">Edit</div>   
        </div>
        <% for member in @members %>
        <div class="flex-row table-flex">
          <div class="flex-cell table-cells"><%=member.full_name()%></div>
          <div class="flex-cell table-cells"><%=member.formatted_dob()%></div>
          <div class="flex-cell table-cells"><%=member.membership_type()%></div>
          <div class="flex-cell table-cells"><%=member.id()%></div>
          <div class="flex-cell table-cells"><span style="color:#B200FF;"><%=member.show_active()%></span></div>
          <div class="flex-cell table-cells">
            <a class="table" href="/admin/members/<%= member.id() %>/member_details/show">
              <button type="button" name="button">DETAILS</button>
            </a>
          </div>
          <div class="flex-cell table-cells">
            <a class="table" href="/admin/members/<%= member.id() %>/edit">
              <button type="button" name="button">EDIT</button>
            </a>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </section>
