<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin/members">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">MEMBERS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">SESSIONS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/bookings">
          <div class="cell3"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">BOOKINGS</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="index">
      <p>Member: <%= @member.full_name() %></p>
      <p>DOB: <%= @member.date_of_birth() %></p>
      <p>Membership Number: <%= @member.id() %></p>
      <p>Membership Type: <%=@member.membership_type()%></p>
      <p><%=@member.show_active()%></p>
      <a href="/admin/members/<%= @member.id() %>/edit">
        <button type="button" name="button">EDIT</button>
      </a>
      <a href="/admin/members/<%= @member.id() %>/member_details/show">
        <button type="button" name="button">CONTACT DETAILS</button>
      </a>
    </div>
  </section>
