<a href="/admin">
  <button type="button">HOME</button>
</a>
<a href="/admin/members">
  <button type="button">MEMBERS</button>
</a>
<a href="/admin/members/create">
  <button type="button" name="button">CREATE</button>
</a>
<hr>
<p>MEMBER</p>
<hr>
<p>Member: <%= @member.full_name() %></p>
<p>DOB: <%= @member.date_of_birth() %></p>
<p>Membership Number: <%= @member.id() %></p>
<p>Membership Type: <%=@member.membership_type()%></p>
<p><%=@member.show_active()%></p>
<a href="/admin/members/<%= @member.id() %>/edit">
  <button type="button" name="button">EDIT</button>
</a>
<a href="/admin/members/<%= @member.id() %>/member_details/show">
  <button type="button" name="button">CONTACT DETAILS</button>
</a>
