<div>
  <hr>
  <% for classes in @classes %>
  <p><%=classes.title()%></p>
  <p>Description: <%=classes.description()%></p>
  <p>Instructor ID: <%=classes.instructor_id()%></p>
  <p>Room: <%=classes.show_room_name()%></p>
  <p>Class ID: <%=classes.id %></p>
  <hr>
  <%end%>
</div>
