<a href="/admin">
  <button type="button">HOME</button>
</a>
<a href="/admin/classes/create">
  <button type="button">CREATE</button>
</a>
<hr>
<% for classes in @classes %>
<p><%=classes.title()%></p>
<p>Description: <%=classes.description()%></p>
<p>Instructor: <%=classes.show_instructor_name()%></p>
<p>Room: <%=classes.show_room_name()%></p>
<p>Class ID: <%=classes.id() %></p>
<a href="/admin/classes/<%= classes.id() %>/edit">
  <button type="button" name="button">EDIT</button>
<a href="/admin/classes/<%= classes.id() %>/bookings">
  <button type="button" name="button">BOOKINGS</button>
</a>
<hr>
<%end%>
