<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Members.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/users">
          <div class="cell1"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/users/bookings/new">
          <div class="cell2"><img class="img1" src="/images/flex5.webp" alt="">
            <div class="bottom-right">BOOK</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <% for session in @sessions%>
    <div class="index">
      <br>
      <p><%=session.title()%></p>
      <p class="profile-margins"><%=session.description()%></p>
      <p>Instructor: <%=session.show_instructor_name()%></p>
      <p>Studio: <%=session.show_room_name()%></p>
      <p>Start Time: <%=session.start_time()%></p>
      <p>End Time: <%=session.end_time()%></p>
      <p>Date: <%=session.date()%></p>
      <a href="/users/bookings/new">
        <button type="button" name="button">BOOK</button>
      </a>
      <br>
    </div>
    <br>
    <%end%>
    <br/>
    <br/>
  </section>
  <section>
    <div class="quote">
      <p>“If you don’t find the time,</p>
    </div>
    <div class="quote-middle">
      <p>&nbsp; if you don’t do the work,</p>
    </div>
    <div class="quote">
      <p>&nbsp; you don’t get the results.”</p>
    </div>
    <p class="quote-name"> – Arnold Schwarzenegger</p>
  </section>
  <section>
    <div class="grid-vid">
      <video class="video-insert" autoplay loop>
        <source src="/videos/vid1.mp4" type="video/mp4">
        </video>
      </div>
    </section>
