<a href="/admin">
  <button type="button">HOME</button>
</a>
<a href="/admin/bookings">
  <button type="button">BOOKINGS</button>
</a>
<a href="/admin/bookings/new">
  <button type="button" name="button">BOOK</button>
</a>
<hr>
<form action="/admin/bookings/<%= @booking.id %>" method="post">
  <label for="member">Member:</label>
  <select id="member" name="member_id">
    <% for member in @members %>
    <option value="<%= member.id() %>">
      <%=  member.full_name() %>
    </option>
    <% end %>
  </select>
  <select id="sessions" name="session_id">
    <% for sessions in @sessions %>
    <option value="<%= sessions.id() %>">
      <%=  sessions.title() %>
    </option>
    <% end %>
  </select>
  <button type="submit" name="button">UPDATE</button>
</form>
