<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin/members">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">MEMBERS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">SESSIONS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/bookings">
          <div class="cell3"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">BOOKINGS</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
<div class="box">
<form action="/admin/bookings/<%= @booking.id %>" method="post">
  <label for="member">Member</label>
  <select id="member" name="member_id">
    <% for member in @members %>
    <option value="<%= member.id() %>">
      <%=  member.full_name() %>
    </option>
    <% end %>
  </select>
  <label for="session">Session</label>
  <select id="sessions" name="session_id">
    <% for sessions in @sessions %>
    <option value="<%= sessions.id() %>">
      <%=  sessions.title() %>
    </option>
    <% end %>
  </select>
  <button type="submit" name="button">UPDATE</button>
</form>
</div>
</section>
