<a href="/admin/bookings">
  <button type="button">CLASSES</button>
</a>
<form action="/admin/bookings/<%= @booking.id %>" method="post">
  <label for="member">Member:</label>
  <select id="member" name="member_id">
    <% for member in @members %>
    <option value="<%= member.id() %>">
      <%=  member.full_name() %>
    </option>
    <% end %>
  </select>
  <select id="classes" name="class_id">
    <% for classes in @classes %>
    <option value="<%= classes.id() %>">
      <%=  classes.title() %>
    </option>
    <% end %>
  </select>
  <button type="submit" name="button">SUBMIT</button>
</form>
