<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/bookings">
          <div class="cell2"><img class="img1" src="/images/flex5.webp" alt="">
            <div class="bottom-right">BOOKINGS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/bookings/new">
          <div class="cell3"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">BOOK</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <% for booking in @bookings %>
    <div class="index">
      <br>
      <p style="color:#fe5ebb;">Member: <span style="color:#414141;"> <%=booking.show_member_name()%></span></p>
      <p style="color:#fe5ebb;">Session: <span style="color:#414141;"> <%=booking.show_session_title()%></span></p>
      <p style="color:#fe5ebb;">Start Time: <span style="color:#414141;"> <%=booking.show_start_time()%></span></p>
      <p style="color:#fe5ebb;">End Time: <span style="color:#414141;"> <%=booking.show_end_time()%></span></p>
      <p style="color:#fe5ebb;">Date: <span style="color:#414141;"> <%=booking.show_date()%></span></p>
      <p style="color:#fe5ebb;">Booking ID: <span style="color:#414141;"> <%=booking.id()%></span></p>
      <a href="/admin/bookings/<%= booking.id() %>/edit">
        <button type="button" name="button">EDIT</button>
      </a>
      <br>
    </div>
    <br>
    <%end%>
    <br/>
    <br/>
  </section>
