<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/bookings">
          <div class="cell2"><img class="img1" src="/images/flex5.webp" alt="">
            <div class="bottom-right">BOOKINGS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions">
          <div class="cell3"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">BOOK</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="index-table">
      <div class="table-container">
        <div class="flex-row table-flex">
          <div class="flex-cell table-headers">Member</div>
          <div class="flex-cell table-headers">Session</div>
          <div class="flex-cell table-headers">Start Time</div>
          <div class="flex-cell table-headers">End Time</div>
          <div class="flex-cell table-headers">Date</div>
          <div class="flex-cell table-headers">Booking ID</div>
          <div class="flex-cell table-headers">Delete</div>
        </div>
        <% for booking in @bookings %>
        <div class="flex-row table-flex">
            <div class="flex-cell table-cells"><%=booking.show_member_name()%></div>
            <div class="flex-cell table-cells"><%=booking.show_session_title()%></div>
            <div class="flex-cell table-cells"><%=booking.show_start_time()%></div>
            <div class="flex-cell table-cells"><%=booking.show_end_time()%></div>
            <div class="flex-cell table-cells"><%=booking.show_date()%></div>
            <div class="flex-cell table-cells"><%=booking.id()%></div>
            <div class="flex-cell table-cells">
            <a href="/admin/bookings/<%= booking.id %>">
            <button class="tables" type="button" name="button">DELETE</button>
          </a>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </section>
