<a href="/admin/instructors/create">
  <button type="button" name="button">CREATE</button>
</a>
<div class="index">
  <p>NEW INSTRUCTOR</p>
  <hr>
  <p>Instructor: <%= @new_instructor.full_name() %></p>
  <p>Profile: <%= @new_instructor.profile() %></p>
  <p>Instructor ID: <%= @new_instructor.id() %></p>
  <p>Email: <%= @new_instructor.email_address() %></p>
  <a href="/admin/instructors/<%= @new_instructor.id() %>/edit">
    <button type="button" name="button">EDIT</button>
  </a>
</div>
