<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<div class="box">
  <form action="/admin/members/<%= @member.id %>/member_details/update" method="POST">
    <input type="hidden" name="id" value="<%=@member_details.id %>">
    <label for="address">Address</label>
    <input id="address" type="text" name="address" value="<%=@member_details.address%>" required/>
    <label for="post_code">Postcode</label>
    <input id="post_code" type="text" name="post_code" value="<%=@member_details.post_code%>" required/>
    <label for="telephone_number">Telephone (+44)</label>
    <input id="telephone_number" type="number" name="telephone_number" value="<%=@member_details.telephone_number%>" required/>
    <label for="email_address">Email</label>
    <input id="email_address" type="text" name="email_address" value="<%=@member_details.email_address%>" required/>
    <br/>
    <br/>
    <button type="submit" name="button">UPDATE</button>
  </form>
</div>
