<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/members">
          <div class="cell2"><img class="img1" src="/images/flex5.webp" alt="">
            <div class="bottom-right">MEMBERS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/members/create">
          <div class="cell3"><img class="img1" src="/images/flex3.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="index">
      <br>
      <p style="color:#fe5ebb;">Member:<span style="color:#414141;"> <%= @member.full_name() %></span></p>
      <p style="color:#fe5ebb;">DOB:<span style="color:#414141;">  <%=@member.formatted_dob()%></span></p>
      <p style="color:#fe5ebb;">Membership Type:<span style="color:#414141;">  <%=@member.membership_type()%></span></p>
      <p style="color:#fe5ebb;">Membership Number: <span style="color:#414141;"><%=@member.id()%></span></p>
      <p style="color:#fe5ebb;">Address:<span style="color:#414141;">  <%= @member_details.address() %></span></p>
      <p style="color:#fe5ebb;">Postcode:<span style="color:#414141;">  <%= @member_details.post_code() %></span></p>
      <p style="color:#fe5ebb;">Telephone:<span style="color:#414141;">  <%= @member_details.formatted_telephone() %></span></p>
      <p style="color:#fe5ebb;">Email:<span style="color:#414141;">  <%= @member_details.email_address() %></span></p>
      <p style="color:#B200FF;"><%=@member.show_active()%></p>
      <a href="/admin/members/<%= @member.id() %>/edit">
        <button type="button" name="button">EDIT</button>
      </a>
      <br>
    </div>
    <br/>
    <br/>
  </section>
