<a href="/admin/members">
  <button type="button">MEMBERS</button>
</a>
<hr>
<p>CONTACT DETAILS</p>
<hr>
<p>Member: <%= @member.full_name() %></p>
<p>Address: <%= @member_details.address() %></p>
<p>Postcode: <%= @member_details.post_code() %></p>
<p>Telephone: <%= @member_details.telephone_number() %></p>
<p>Email: <%= @member_details.email_address() %></p>
