<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admim">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">SESSIONS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions/create">
          <div class="cell3"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="box">
      <form action="/admin/sessions/<%= @session.id() %>" method="post">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" required>
        <textarea id="description" name="description" rows="4" cols="80">Description...</textarea>
        <label for="instructor">Instrcutor</label>
        <select id="instructor" name="instructor_id">
          <% for instructor in @instructors %>
          <option value="<%= instructor.id() %>">
            <%=  instructor.full_name() %>
          </option>
          <% end %>
        </select>
        <label for="room">Studio</label>
        <select id="room" name="room_id">
          <% for room in @rooms %>
          <option value="<%= room.id() %>">
            <%=  room.name() %>
          </option>
          <% end %>
        </select>
        <label for="max_capacity">Max Capacity: </label>
        <input id="max_capacity" type="number" name="max_capacity" required>
        <label for="active">Active?</label>
        <input id="active" type="checkbox" name="active">
        <button type="submit" name="button">UPDATE</button>
      </form>
    </div>
  </section>
