<div class="home-container">
  <img class="home" alt="">
  <div class="bottom-left">Admin.</div>
</div>
<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/flex1.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions">
          <div class="cell2"><img class="img1" src="/images/flex6.webp" alt="">
            <div class="bottom-right">SESSIONS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions/create">
          <div class="cell3"><img class="img1" src="/images/flex3.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <div class="index-table">
      <div class="table-container">
        <div class="flex-row table-flex">
          <div class="flex-cell table-headers-sessions">Session</div>
          <div class="flex-cell table-headers-sessions">Instructor</div>
          <div class="flex-cell table-headers-sessions">Studio</div>
          <div class="flex-cell table-headers-sessions">Start</div>
          <div class="flex-cell table-headers-sessions">End</div>
          <div class="flex-cell table-headers-sessions">Date</div>
          <div class="flex-cell table-headers-sessions">Max Cap.</div>
          <div class="flex-cell table-headers-sessions">Bookings</div>
          <div class="flex-cell table-headers-sessions">Active</div>
          <div class="flex-cell table-headers-sessions">Edit</div>
          <div class="flex-cell table-headers-sessions">Bookings</div>
          <div class="flex-cell table-headers-sessions">Book</div>
        </div>
        <% for session in @sessions%>
        <div class="flex-row table-flex">
          <div class="flex-cell table-cells-sessions"><%=session.title()%></div>
          <div class="flex-cell table-cells-sessions"><%=session.show_instructor_name()%></div>
          <div class="flex-cell table-cells-sessions"><%=session.show_room_name()%></div>
          <div class="flex-cell table-cells-sessions"><%=session.show_start_time()%></div>
          <div class="flex-cell table-cells-sessions"><%=session.show_end_time()%></div>
          <div class="flex-cell table-cells-sessions"><%=session.show_date()%></div>
          <div class="flex-cell table-cells-sessions"><%=session.max_capacity()%></div>
          <div class="flex-cell table-cells-sessions"><%=session.number_of_members()%></div>
          <div class="flex-cell table-cells-sessions"><%=session.show_active()%></div>
          <div class="flex-cell table-cells-sessions">
            <a href="/admin/sessions/<%= session.id() %>/edit">
              <button class="sessions" type="button" name="button">EDIT</button>
            </a>
          </div>
          <div class="flex-cell table-cells-sessions">
            <a href="/admin/sessions/<%= session.id() %>/bookings">
              <button class="sessions" type="button" name="button">BOOKINGS</button>
            </a>
          </div>
          <div class="flex-cell table-cells-sessions">
            <a href="/admin/sessions/<%= session.id %>/bookings/new">
              <button class="sessions" type="button" name="button">BOOK</button>
            </a>
          </div>
        </div>
        <%end%>
      </div>
    </div>
  </section>
