<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">SESSIONS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions/create">
          <div class="cell3"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section>
    <p><%=@session.title()%></p>
    <div class="index">
      <p>Instructor: <%=@session.show_instructor_name()%></p>
      <p>Studio: <%=@session.show_room_name()%></p>
      <p>Start Time: <%=@session.start_time()%></p>
      <p>End Time: <%=@session.end_time()%></p>
      <p>Date: <%=@session.date()%></p>
      <hr>
      <p>Max Capacity: <%=@session.max_capacity()%></p>
      <p>Bookings: <%=@session.number_of_members()%></p>
      <p><%=@session.show_active()%></p>
      <p>Class ID: <%=@session.id() %></p>
      <a href="/admin/sessions/<%= @session.id() %>/edit">
        <button type="button" name="button">EDIT</button>
      </a>
    </div>
    <br/>
    <br/>
  </section>
