<section>
  <div class="grid">
    <div class="grid-row grid-row-sm">
      <div class="cell_container">
        <a href="/admin">
          <div class="cell1"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">MAIN MENU</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions">
          <div class="cell2"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">SESSIONS</div>
          </div>
        </a>
      </div>
      <div class="cell_container">
        <a href="/admin/sessions/create">
          <div class="cell3"><img class="img1" src="/images/sessions.webp" alt="">
            <div class="bottom-right">CREATE</div>
          </div>
        </a>
      </div>
    </div>
  </section>
 <section>
    <div class="index">
      <p><%=@session.title()%></p>
      <p>Instructor: <%=@session.show_instructor_name()%></p>
      <p>Studio: <%=@session.show_room_name()%></p>
      <% time1 = Time.parse(@session.start_time)%>
      <% formatted_start_time = time1.strftime("%H:%M") %>
      <p>Start Time: <%=formatted_start_time%></p>
      <% time2 = Time.parse(@session.end_time)%>
      <% formatted_end_time = time2.strftime("%H:%M") %>
      <p>End Time: <%=formatted_end_time%></p>
      <% date = Date.parse(@session.date)%>
      <% formatted_date = date.strftime("%d-%m-%Y") %>
      <p>Date: <%=formatted_date%></p>
      <hr>
      <p>Max Capacity: <%=@session.max_capacity()%></p>
      <p>Bookings: <%=@session.number_of_members()%></p>
      <p><%=@session.show_active()%></p>
      <p>Class ID: <%=@session.id() %></p>
      <a href="/admin/sessions/<%= @session.id() %>/edit">
        <button type="button" name="button">EDIT</button>
      </a>
    </div>
    <br/>
    <br/>
  </section>
